streamlit==1.22.0
streamlit-lottie==0.0.3
matplotlib==3.7.1
imagesize==1.4.1
scikit-learn==1.2.2
nltk==3.8.1
IPython==8.13.1
pandas==1.5.3
tensorflow==2.12.0

# MacOS users must follow the instructions at this link to install tensorflow with GPU support: https://developer.apple.com/metal/tensorflow-plugin/
# For CPU support only, rename tensorflow into tensorflow-macos==2.12.0
